@import url('https://fonts.cdnfonts.com/css/qanelas');


header {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



a {
    color: #fff;
    text-decoration: none;
    font-family: Qanelas;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.navigate {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 47.5rem; 
}

.searchAndEntry {
    display: flex;
}

.search {
    margin-right: 12px;
    padding: 0;
    border: 0;
    border-radius: 0.625rem; 
    
}

.entry {
    border-radius: 0.625rem;
    background: #3657CB;
    border: 0;
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
    width: 8.625rem;
    height: 3.3125rem;
    flex-shrink: 0; 
    color: #FFF;
    font-family: Qanelas;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%; /* 1.665rem */
}
