.Email {
    margin-top: 6rem;
    position: relative;
    width: 100%;
    
}


.fonAbsolute {
    position: absolute;
    top: 4.7rem;
    width: 100%;    
}

.checoxRegister {
    justify-content: center
}

.fonAbsolute h2 {
    color: #FFF;
    text-align: center;
    font-family: Qanelas;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.fonAbsolute p {
    color: #FFF;
    text-align: center;
    font-family: Qanelas;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140.2%;
}

.inputEmail button {
    border-radius: 0.625rem;
    background: #F2F60F;
    width: 11.375rem;
    height: 4.4375rem;
    color: #151A26;
    font-family: Qanelas;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%; 
}

.inputEmail input {
    border-radius: 0.625rem;
    background: #FFF;
    width: 26.5625rem;
    height: 4.4375rem;
    padding-left: 10px;
    margin-right: 10px;
}