:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff ;
  background-color: #1E2538;
}

@import url('https://fonts.cdnfonts.com/css/qanelas'); 

body {
  font-family: "QanelasThin";
}